<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>ola</h1>
		<input type="text" id="message" />
		<button id="send">Enviar</button>
		<script>
			const send = document.getElementById("send");
			send.addEventListener("click", () => {
				const message = document.getElementById("message").value;
				const data = {
					data: message,
					action: "update",
				};
				ws.send(JSON.stringify(data));
			});
			let ws;
			if (ws) {
				ws.onerror = ws.onopen = ws.onclose = null;
				ws.close();
			}
			ws = new WebSocket("ws://localhost:3000/ws");
			ws.onopen = (e) => {
				console.log("open");
			};
			ws.onmessage = (socket) => {
				console.log(socket.data);
			};
		</script>
	</body>
</html>
